<div class="home">
  <div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_url('del1.jpg') %>">
    <div class="text">
      <p>Home Delivery</p>
      <h3>Every Saturday we deliver across<br> Hawkes Bay</h3>
      <div class="button">
        <a href="/contact/new">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_url('del6.jpg') %>">
    <div class="text-special">
      <div class="text-inside">
        <h3>SATURDAY HOME DELIVERY</h3>
        <h4>Join the Family Club</h4>
        <p>1. Text NAME & ADDRESS to <a href="tel:02108220001" style='color:#5B1B14'>02108220001</a></p>
        <p>2. Recieve the BOOKING ONLINE link Thursday 6pm</p>
        <p>3. Click & Order your favorite French Baking</p>
        <p>4. Open your door & enjoy. Delivery Saturday 6am to 8:30am</p>
        <div class="order-button">
          <div class="button-special">
            <a href="tel:02108220001">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_url('del2.jpg') %>">
    <div class="text">
      <p>Saturday Morning</p>
      <h3>freshly baked pasteries delivered<br> straight to your door</h3>
      <div class="button">
        <a href="/contact/new">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_url('del3.jpg') %>">
    <div class="text">
      <p>Delivery Service</p>
      <h3>Our home delivery service is our "MERCI"<br> for being part of the Hawke's Bay Community</h3>
      <div class="button">
        <a href="/contact/new">Contact Us</a>
      </div>
    </div>
  </div>
  <div class="parallax-window" data-parallax="scroll" data-image-src="<%= image_url('del4.jpg') %>">
    <div class="text">
      <p>Obsession with freshness</p>
      <h3> Free delivery, cheapest in town, <br> perfect baking and crispy freshness</h3>
      <div class="button">
        <a href="/contact/new">Contact us</a>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
